<div class="container col s12">	
	<div class="card-panel col s8 center card form">
	  
	  <h1>New Post</h1>
	  <div class="card_panel col s4 grey lighten-4">
	  <div class="center">
		  <%= simple_form_for @gram do |f| %>
		    
		    <div class="container col s2 small center form-input">
		    	<%= f.input :picture%>
		    	<%= f.input :message%>
		    	<%= f.submit "Upload", class: 'my-btn center form-action' %>
		    </div>
		  <% end %>
		 </div>
	  </div>
	</div>
</div>